@media (min-width: 1024px) and (max-width: 1200px) {
    .main-sec-1{
        min-height: 0;
    }
    .sec-4-cont-box{
        width: 100%;
        justify-content: center;
    }
    .slide-img-box{
        width: 794px;
    }
    .sec-3-cont{
        align-self: flex-end;
        left: 50px;
        border: 1px solid #c79c6e;
    }
    .sec-7-cont{
        width: 90%;
    }
    .home-main{
        min-height: 4620px;
    }
    /* PAGE ANNOUC START */
    .date{
        width: 120px;
        font-size: 13px;
    }
    .annouc-cont-tit p:first-child{
        font-size: 14px;
    }
    .annouc-item-price p{
        padding-right: 5px;
    }
    /* PAGE ANNOUC END */
    /* PAGE ANNOUCEMENT START */
    .ann-sec-slide,
    .ann-sec-left{
        width: 600px;
    }
    /* PAGE ANNOUCEMENT END */
}


@media (min-width: 768px) and (max-width: 1023px)  {
    marquee{
        bottom: 20px;
    }
    .home-main{
        min-height: 4532px;
    }
    .main-sec-1{
        min-height: 0;
    }
    .sec-4-cont-box{
        width: 100%;
        height: 170px;
        justify-content: center;
    }
    .main-sec-4{
        height: 1000px;
    }
    .sec-4-content{
        height: 360px;
    }
    .sec-4-cont{
        width: 170px;
        height: 170px;
        padding: 10px;
    }
    .sec-4-cont h2{
        font-size: 20px;
        text-align: center;
    }
    .sec-4-cont p{
        font-size: 13px;
        text-align: center;
        font-weight: 600;
    }
    .main-sec-5{
        background-size: cover;
    }
    .slide-img-box{
        width: 529px;
    }
    .sec-3-cont{
        align-self: flex-end;
        left: 50px;
        border: 1px solid #c79c6e;
    }
    .sec-7-cont{
        width: 90%;
    }
    .sec-7-cont{
        flex-direction: row;
    }
    .sec-7-cont-top{
        flex-direction: column;
    }
    .sec-7-cont-bottom{
        flex-direction: column;
    }
    .sec-7-line{
        width: 1px;
        height: 80%;
        top: 45px;
    }
    .main-sec-7{
        height: 800px;
    }
    .sec-7-cont{
        height: 600px;
    }
    .sec-7-cont-top, 
    .sec-7-cont-bottom{
        height: 600px;
    }
    .footer-logo-box{
        display: none;
    }
    .footer-menu-tit h3, 
    .footer-contact-tit h3, 
    .footer-soc-tit h3{
        font-size: 20px;
    }
    .footer-menu-cont ul li a{
        font-size: 13px;
    }
    /* ANNOUC PAGE START */
    .annouc-main{
        flex-direction: column;
    }
    .annouc-navbar{
        width: 100%;
        /* margin: 20px 0; */
    }
    .annouc-section{
        width: 100%;
        margin: 20px 0;
    }
    .date{
        display: none;
    }
    /* ANNOUC PAGE END */
    /* PAGE ANNOUCEMENT START */
    .announcement-main{
        flex-direction: column;
        height: 2000px;
    }
    .ann-sec-left{
        max-width: 100%;
        margin: 0;
    }
    .ann-sec-slide,
    .ann-sec-callBox{
        width: 100%;
        justify-content: flex-start;
    }
    .ann-sec-callBox{
        padding: 15px;
        border: none;
    }
    .ann-sec-right{
        max-width: 100%;
    }
    /* PAGE ANNOUCEMENT END */
}
@media (min-width: 568px) and (max-width: 767px) {
    marquee{
        bottom: 20px;
    }
    marquee h2{
        font-size: 20px;
    }
    .home-main{
        min-height: 4532px;
    }
    .main-sec-1{
        min-height: 0;
    }
    .sec-2-title h2{
        font-size: 22px;
    }
    .sec-2-title p{
        font-size: 13px;
    }
    .sec-4-cont-box{
        width: 100%;
        height: 500px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sec-4-cont-box:nth-child(1) .sec-4-cont:nth-child(3){
        order: 4;
    }
    /*  */
    .sec-4-cont-box:nth-child(2) .sec-4-cont:nth-child(1){
        order: 2;
    }
    .sec-4-cont-box:nth-child(2) .sec-4-cont:nth-child(2){
        order: 1;
    }
    .sec-4-cont-box:nth-child(2) .sec-4-cont:nth-child(3){
        order: 3;
    }
    .sec-4-cont-box:nth-child(2) .sec-4-cont:nth-child(4){
        order: 4;
    }
    .main-sec-4{
        height: 1700px;
    }
    .sec-4-content{
        height: 1000px;
    }
    .sec-4-cont{
        width: 260px;
        height: 260px;
        padding: 10px;
    }
    .sec-4-cont h2{
        font-size: 18px;
        text-align: center;
    }
    .sec-4-cont p{
        font-size: 12px;
        text-align: center;
        font-weight: 600;
    }
    .sec-4-title p{
        font-size: 13px;
    }
    .sec-4-title h2{
        font-size: 23px;
    }
    .sec-4-title h3{
        font-size: 13px;
    }
    .sec-4-bott-par h3{
        font-size: 18px;
    }
    .sec-4-button{
        font-size: 13px;
    }
    .main-sec-5{
        background-size: cover;
    }
    .sec-5-cont h2{
        font-size: 22px;
    }
    .sec-5-cont p{
        font-size: 13px;
    }
    .sec-6-cont p{
        font-size: 13px;
    }
    .sec-6-cont h2{
        font-size: 22px;
    }
    .sec-6-cont h3{
        font-size: 15px;
    }
    .sec-7-tit h2{
        font-size: 22px;
    }
    .sec-7-text-box h3{
        font-size: 18px;
    }
    .sec-7-text-box p{
        font-size: 13px;
    }
    .slide-img-box{
        width: 100%;
    }
    .sec-3-cont{
        width: 250px;
        height: 250px;
        align-self: flex-end;
        left: 35px;
        border: 1px solid #c79c6e;
        padding: 20px;
    }
    .sec-3-bg{
        width: 250px;
        height: 250px;
    }
    .main-sec-3{
        padding: 25px 25px !important;
    }
    .sec-3-cont h2{
        font-size: 22px;
    }
    .sec-3-cont p{
        font-size: 13px;
    }
    #call{
        font-size: 13px;
    }
    .sec-7-cont{
        width: 90%;
    }
    .sec-7-cont{
        flex-direction: row;
    }
    .sec-7-cont-top{
        flex-direction: column;
    }
    .sec-7-cont-bottom{
        flex-direction: column;
    }
    .sec-7-line{
        width: 1px;
        height: 80%;
        top: 45px;
    }
    .main-sec-7{
        height: 800px;
    }
    .sec-7-cont{
        height: 600px;
    }
    .sec-7-cont-top, 
    .sec-7-cont-bottom{
        height: 600px;
    }
    .footer-logo-box{
        display: none;
    }
    .footer-menu-tit h3, 
    .footer-contact-tit h3, 
    .footer-soc-tit h3{
        font-size: 20px;
    }
    .footer-menu-cont ul li a{
        font-size: 13px;
    }
    .slide-img, .slide-img2{
        min-width: 100%;
        margin: 0;
    }
    .slide-image img{
        width: 100%;
    }
    .slide-box button{
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
    }
    .slide-box button:first-child{
        left: 0;
        z-index: 1;
    }
    .slide-box button:last-child{
        right: 0;
    }
    .slide-tit p{
        font-size: 13px;
    }
    .slide-tit h3{
        font-size: 18px;
    }
    .footer-soc-box{
        display: none;
    }
    .tab-title h2{
        font-size: 20px;
    }
    .tab-content a{
        font-size: 15px;
    }
    .phone-icon{
        width: 15px;
        height: 15px;
    }
    #tab{
        width: 250px;
        height: 300px;
        top: 90px;
    }
        /* ANNOUC PAGE START */
        .annouc-main{
            flex-direction: column;
        }
        .annouc-navbar{
            width: 100%;
        }
        .annouc-navbar h3{
            font-size: 18px;
        }
        .annouc-navbar label,
        .annouc-navbar h4{
            font-size: 13px;
        }
        .annouc-section{
            width: 100%;
            margin: 20px 0;
        }
        .date{
            display: none;
        }
        .annouc-sec-cont-box p{
            font-size: 13px;
        }
        .annouc-sec-content{
            flex-direction: column;
            height: 420px;
        }
        .annouc-sec-img{
            width: 100%;
            height: 250px;
            margin-bottom: 5px;
        }
        .annouc-cont-tit,
        .annouc-item-par,
        .annouc-item-price{
            padding-left: 0;
        }
        /* ANNOUC PAGE END */
            /* PAGE ANNOUCEMENT START */
    .announcement-main{
        flex-direction: column;
        height: 2000px;
    }
    .ann-sec-left{
        max-width: 100%;
        margin: 0;
    }
    .ann-sec-slide,
    .ann-sec-callBox{
        width: 100%;
        justify-content: flex-start;
    }
    .ann-sec-callBox{
        padding: 15px;
        border: none;
    }
    .ann-sec-right{
        max-width: 100%;
    }
    /* PAGE ANNOUCEMENT END */
}
@media (min-width: 320px) and (max-width: 567px) {
    marquee{
        display: none;
    }
    marquee h2{
        font-size: 20px;
    }
    .home-main{
        min-height: 4532px;
    }
    .main-sec-1{
        min-height: 0;
    }
    .sec-2-title h2{
        font-size: 22px;
    }
    .sec-2-title p{
        font-size: 13px;
    }
    .sec-4-cont-box{
        width: 100%;
        height: 1280px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sec-4-cont-box:nth-child(1) .sec-4-cont:nth-child(1){
        order: 2;
    }
    .sec-4-cont-box:nth-child(1) .sec-4-cont:nth-child(2){
        order: 1;
    }
    .sec-4-cont-box:nth-child(1) .sec-4-cont:nth-child(3){
        order: 4;
    }
    .sec-4-cont-box:nth-child(1) .sec-4-cont:nth-child(4){
        order: 3;
    }
    .main-sec-4{
        height: 3100px;
    }
    .sec-4-content{
        height: 2560px;
    }
    .sec-4-cont h2{
        font-size: 18px;
        text-align: center;
    }
    .sec-4-cont p{
        font-size: 12px;
        text-align: center;
        font-weight: 600;
    }
    .sec-4-title p{
        font-size: 13px;
    }
    .sec-4-title h2{
        width: 100%;
        font-size: 20px;
    }
    .sec-4-title h3{
        width: 100%;
        font-size: 13px;
    }
    .sec-4-bott-par h3{
        width: 100%;
        font-size: 15px;
        padding: 0 10px;
    }
    .sec-4-button{
        font-size: 13px;
    }
    .sec-4-line{
        width: 200px;
        margin: 20px 0;
    }
    .sec-4-bott-button{
        height: 60px;
        margin-bottom: 15px;
    }
    .main-sec-5{
        background-size: cover;
        justify-content: center;
        align-items: flex-start;
    }
    .sec-5-cont{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 15px;
    }
    .sec-5-cont h2{
        font-size: 22px;
    }
    .sec-5-cont p{
        font-size: 13px;
    }
    .sec-6-cont p{
        font-size: 13px;
    }
    .sec-6-cont h2{
        font-size: 22px;
        text-align: center;
        padding: 15px 0;
    }
    .sec-6-cont h3{
        width: 100%;
        font-size: 15px;
        padding: 0 10px;
    }
    .sec-7-tit h2{
        font-size: 22px;
        text-align: center;
    }
    .sec-7-text-box h3{
        text-align: left;
        font-size: 18px;
    }
    .sec-7-text-box p{
        font-size: 13px;
        text-align: left;
        padding: 15px 0;
    }
    .sec-7-tit{
        margin: 15px 0;
    }
    .slide-img-box{
        width: 100%;
    }
    .sec-3-cont{
        width: 100%;
        height: 250px;
        align-items: center;
        left: 0;
        border: 0;
        padding: 20px;
    }
    .sec-3-bg{
        width: 100%;
        height: 250px;
    }
    .main-sec-3{
        padding: 0 !important;
        flex-direction: column;
    }
    .sec-3-cont h2{
        font-size: 22px;
    }
    .sec-3-cont p{
        text-align: center;
        font-size: 13px;
    }
    #call{
        font-size: 13px;
    }
    .sec-7-cont{
        width: 90%;
    }
    .sec-7-cont{
        flex-direction: row;
    }
    .sec-7-line{
        width: 1px;
        height: 80%;
        top: 20px;
    }
    .main-sec-7{
        height: 800px;
    }
    .sec-7-cont{
        height: 600px;
    }
    .sec-7-cont-top{
        width: 100px;
    }
    .sec-7-cont-bottom{
        width: 100%;
    }
    .sec-7-num-box{
        width: 60px;
        height: 60px;
    }
    .sec-7-num-main::before{
        width: 80px;
        height: 80px;
        top: -10px;
    }
    .sec-7-num-main{
        min-width: 100px;
        align-items: flex-start;
    }
    .sec-7-text-box{
        justify-content: flex-start;
    }
    .sec-7-cont-top, 
    .sec-7-cont-bottom{
        height: 600px;
        flex-direction: column;
    }
    .footer-logo-box{
        display: none;
    }
    .footer-menu-tit h3, 
    .footer-contact-tit h3, 
    .footer-soc-tit h3{
        font-size: 18px;
    }
    .footer-menu-cont ul li a{
        font-size: 13px;
    }
    .footer-contact-cont p{
        font-size: 13px;
    }
    .footer-top-box{
        flex-direction: column;
        height: 400px;
        padding-left: 25px;
    }
    footer{
        height: 450px;
    }
    .footer-menu-box{
        width: 100%;
        height: 150px;
    }
    .footer-contact-box{
        width: 100%;
        height: 100px;
    }
    .copyright-box p{
        text-align: center;
        font-size: 13px;
    }
    .slide-img, .slide-img2{
        min-width: 100%;
        margin: 0;
    }
    .slide-image img{
        width: 100%;
    }
    .slide-box button{
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
    }
    .slide-box button:first-child{
        left: 0;
        z-index: 1;
    }
    .slide-box button:last-child{
        right: 0;
    }
    .slide-tit p{
        font-size: 13px;
    }
    .slide-tit h3{
        font-size: 18px;
    }
    .footer-soc-box{
        display: none;
    }
    .tab-title h2{
        font-size: 20px;
    }
    .tab-content a{
        font-size: 15px;
    }
    .phone-icon{
        width: 15px;
        height: 15px;
    }
    #tab{
        width: 250px;
        height: 300px;
        top: 90px;
    }
    /* ANNOUC PAGE START */
    .annouc-main{
        flex-direction: column;
    }
    .annouc-navbar{
        width: 100%;
    }
    .annouc-navbar h3{
        font-size: 18px;
    }
    .annouc-navbar label,
    .annouc-navbar h4{
        font-size: 13px;
    }
    .annouc-section{
        width: 100%;
        margin: 20px 0;
    }
    .date{
        display: none;
    }
    .annouc-item-price p{
        display: none;
    }
    .price{
        display: flex !important;
        font-size: 13px;
        left: 0;
    }
    .annouc-sec-content{
        flex-direction: column;
        height: 325px;
    }
    .annouc-sec-cont-box{
        height: 110px;
    }
    .annouc-item-par{
        display: none;
    }
    .annouc-cont-tit{
        height: 50px;
    }
    .annouc-sec-img{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .annouc-cont-tit,
    .annouc-item-par,
    .annouc-item-price{
        padding-left: 0;
    }
    /* ANNOUC PAGE END */
                /* PAGE ANNOUCEMENT START */
    .announcement-main{
        flex-direction: column;
        height: 2000px;
    }
    .ann-sec-left{
        max-width: 100%;
        margin: 0;
    }
    .ann-sec-slide,
    .ann-sec-callBox{
        width: 100%;
        justify-content: flex-start;
    }
    .ann-sec-callBox{
        padding: 15px;
        border: none;
    }
    .ann-sec-right{
        max-width: 100%;
    }
    /* PAGE ANNOUCEMENT END */
    /* PAGE ANNOUCEMENT START */
    .announcement-main{
        flex-direction: column;
        height: 1800px;
    }
    .ann-sec-left{
        max-width: 100%;
        margin: 0;
    }
    .ann-sec-slide,
    .ann-sec-callBox{
        width: 100%;
        height: 250px;
        justify-content: flex-start;
    }
    .ann-sec-callBox{
        padding: 15px;
        border: none;
    }
    .ann-sec-right{
        max-width: 100%;
    }
    .ann-slide-tit h3,
    .ann-slide-cont-tit h3,
    .slide-filter-tit h3{
        font-size: 18px;
    }
    .ann-slide-cont-par p,
    .similar-box-right p{
        font-size: 13px;
    }
    .ann-slide-cont-price h2{
        font-size: 20px;
    }
    .amd-icon{
        width: 16px;
        height: 16px;
    }
    /* PAGE ANNOUCEMENT END */
}